<mat-toolbar class="header-toolbar">
    <div class="header-left">
        <mat-icon class="header-icon">location_on</mat-icon>
        <h1 class="header-title">{{ title() }}</h1>
    </div>
    <div class="header-right">
        @if (!isAuthenticated()) {
            <div class="header-actions">
                <button mat-stroked-button color="primary" (click)="onSignIn()">Sign in</button>
                <button mat-flat-button color="primary" (click)="onSignUp()">Sign up</button>
            </div>
        } @else {
            <div class="header-actions">
                <button mat-stroked-button color="warn" (click)="onSignOut()">Sign out</button>
            </div>
        }
    </div>
</mat-toolbar>
